@import './var.scss';
@import './mixin.scss';

div.dropdown-menu.ant-dropdown, div.dropdown-sub-menu.ant-dropdown-menu-submenu {
  ul.ant-dropdown-menu {
    padding: 5px 2px;

    .dropdown-driver.ant-divider {
      margin: unset;
    }

    .dropdown-sub-menu.ant-dropdown-menu-submenu {
      .ant-dropdown-menu-submenu-arrow {
        margin-left: 10px;
        inset-inline-end: 4px;
      }
    }

    .dropdown-menu-single.ant-dropdown-menu-item {
      padding: 5px 15px;
    }

    .ant-dropdown-menu-title-content {
      padding: 0 10px;
      text-align: left;
    }
  }
}
