
// $sMainFrameContainerPadding: 4px; // 主窗口外部容器的内边距值
$sMainFrameContainerRadius: 0px; // 主窗口外部容器的圆角值, 需要设置窗口选项 transparent 为 true

$sMainCaptionBarHeight: 30px; // 主窗口自定义标题栏的高度

:root {
  // --s-main-frame-background-color: #F6F6F6; // 主窗口的背景默认值
  --s-main-frame-contain-color: #f8f8f8; // 主窗口的容器背景色 -> 暗色
  --s-main-frame-contain-active-color: #FFF; // 主窗口的活跃容器背景色 -> 明色

  --s-main-frame-sidebar-width: 40px; // 主窗口左侧 sidebar 的宽度
}
